<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nurkholiq.trafficsignsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrafficSignsApp">
        <activity
            android:name=".signtype.hintsign.HintSignActivity"
            android:exported="false" />
        <activity
            android:name=".signtype.commandsign.CommandSignActivity"
            android:exported="false" />
        <activity
            android:name=".signtype.prohibitionsign.ProhibitionSignActivity"
            android:exported="false" />
        <activity
            android:name=".signtype.DescSignTypeActivity"
            android:exported="false"
            android:parentActivityName=".signtype.warningsign.WarningSignActivity" />
        <activity
            android:name=".signtype.warningsign.WarningSignActivity"
            android:exported="false" />
        <activity
            android:name=".SignTypeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>